// Override default bootstrap CSS (with no borders for 1st element
::ng-deep .accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: calc(0.25rem - 1px);
}

::ng-deep .plyr {
  flex-grow: 1;
}

app-social {
  height: 65vh;
  width: 300px;
}

#player {
  height: 65vh;
}

app-toasts-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 300px;
  margin: auto auto;
  bottom: 10px;
  text-align: center;
}