// Override default bootstrap CSS (with no borders for 1st element
::ng-deep .accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: calc(0.25rem - 1px);
}

app-social {
  height: 65vh;
  width: 300px;
}

#player-social-wrapper {
  height: 65vh;

  .player-wrapper {
    height: 100%;
    flex-grow: 1;
    position: relative;

    .disabling-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: #000;
      opacity: 0.5;
      z-index: 1000;
    }
  }
}

::ng-deep .plyr {
  height: 100%;
}

::ng-deep .plyr__video-wrapper {
  height: 100%;

  #player {
    height: 100%;
  }
}
