.color-picker {
  $radius: 5px;

  .circle {
    $size: 40px;
    height: $size;
    width: $size;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #dadada;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  }

  .opened {
    background: #fff;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    &:after {
      content: "";
      right: 10px;
      position: absolute;
      top: -20px;
    }

    .colors {
      display: flex;
      flex-wrap: wrap;

      .circle {
        flex: 40px 0 0;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .hex-code {
      $height: 45px;
      display: flex;
      margin-top: 20px;

      p {
        width: 50%;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        line-height: $height;
      }

      .g-input {
        border: 1px solid #e8ebed;
        height: $height;
        border-radius: $radius;
        width: 120px;

        input {
          border: none;
          width: 100%;
          text-transform: uppercase;
          outline: none;
          text-align: center;
          letter-spacing: 1.5px;
          color: #595b65;
          height: 100%;
          border-radius: $radius;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
