<div class="flex-grow-1 d-flex flex-column">
    <ngb-tabset activeId="ngb-tab-1" class="flex-grow-1 d-flex flex-column">
        <ngb-tab>
            <ng-template ngbTabTitle>Chat</ng-template>
            <ng-template ngbTabContent>
                <div class="social-tab-content">
                    Coming soon™
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Users</ng-template>
            <ng-template ngbTabContent>
                <div class="social-tab-content">
                    <ul class="py-3 px-3">
                        <li *ngFor="let user of connectedUsers" class="user-list-elem">
                            <span [style.color]="user.color"
                                [style.font-weight]="user.userId == userId ? 'bold': 'normal'">
                                {{user.username}}</span>&nbsp;<i class="fas fa-crown text-warning" *ngIf="user.isCreator"></i>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<div class="mt-2">
    <span>You are <span [style.color]="color"><b>{{username}}</b></span></span>
    <button class="btn btn-link btn-sm" (click)="openUserSettingsModal()"><i class="fas fa-pencil-alt"></i></button>
</div>