<div class="flex-grow-1 d-flex flex-column social-tabset-wrapper">
  <ul ngbNav  #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Chat</a>
      <ng-template ngbNavContent>
        <div class="social-tab-content flex-grow-1 d-flex flex-column h-100">
          <div class="flex-grow-1 h-100 mt-2 mx-2 message-list-wrapper">
            <ul class="px-0 mb-0 h-100 message-list">
              @for (chatMessage of chatMessages; track chatMessage) {
                <li #chatMessageElem class="message-list-elem">
                  <span [style.color]="chatMessage.color"
                    [style.font-weight]="chatMessage.userId == userId ? 'bold': 'normal'">
                  {{chatMessage.username}}</span>:&nbsp;<span>{{chatMessage.content}}
                </span>
              </li>
            }
          </ul>
        </div>
        <div class="m-2">
          <input class="form-control form-control-sm" type="text" [(ngModel)]="message"
            (keydown.enter)="sendChatMessage()">
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Users</a>
    <ng-template ngbNavContent>
      <div class="social-tab-content h-100">
        <div class="m-2 user-list-wrapper h-100">
          <ul class="px-0 mb-0 h-100 user-list">
            @for (user of connectedUsers; track user) {
              <li class="user-list-elem">
                <span [style.color]="user.color"
                  [style.font-weight]="user.userId == userId ? 'bold': 'normal'">
                {{user.username}}</span>&nbsp;@if (user.isCreator) {
                <i class="fas fa-crown text-warning"
                ></i>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </ng-template>
</li>
</ul>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<div class="mt-2">
  <span>You are <span [style.color]="color"><b>{{username}}</b></span></span>
  <button class="btn btn-link btn-sm" (click)="openUserSettingsModal()"><i class="fas fa-pencil-alt"></i></button>
</div>