<div class="d-flex flex-column justify-content-center h-100">
    <div>
        <div class="col">
            <div class="row d-flex justify-content-center">
                <h2>Stream videos to anyone, anytime, unlimitedly, for free</h2>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg" (click)="openSelectModeModal()">Create new stream</button>
                </div>
            </div>
        </div>
    </div>
</div>