<div class="modal-header">
    <h4 class="modal-title">Select a file to stream</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" [disabled]="validateLoading">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label">Video file (.mp4 or .mkv)</label>
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile"
                        (change)="handleVideoFileInput($event.target.files)">
                    <label class="custom-file-label"
                        for="customFile">{{videoFile ? videoFile.name : 'Choose file'}}</label>
                </div><br>
                <small class="text-success" *ngIf="supportedMessage"><i
                        class="fas fa-check-circle"></i>&nbsp;{{supportedMessage}}</small>
                <small class="text-danger" *ngIf="unsupportedMessage"><i
                        class="fas fa-times-circle"></i>&nbsp;{{unsupportedMessage}}</small>
            </div>
        </div>
        <div *ngIf="supportedMessage" class="row mb-3">
            <div class="col-sm-8 offset-sm-4">
                <button class="btn btn-link" *ngIf="!showAdvancedOptions" (click)="showAdvancedOptions = true">
                    Show advanced options
                </button>
                <button class="btn btn-link" *ngIf="showAdvancedOptions" (click)="showAdvancedOptions = false">
                    Hide advanced options
                </button>
                <div *ngIf="showAdvancedOptions">
                    <div class="form-group">
                        <label for="selectVideoStream">Video</label>
                        <select class="form-control" id="selectVideoStream">
                            <option [ngValue]="option" *ngFor="let option of videoStreamOptions">
                                Video Stream #{{option.videoStream.index}}: {{option.videoStream.codec}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectAudioStream">Audio</label>
                        <select class="form-control" id="selectAudioStream">
                            <option [ngValue]="option" *ngFor="let option of audioStreamOptions">
                                Audio Stream #{{option.audioStream.index}} {{option.audioStream.language}}:
                                {{option.audioStream.codec}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectAudioStream">Subtitle</label>
                        <select class="form-control" id="selectSubtitleStream">
                            <option [ngValue]="option" *ngFor="let option of subtitleStreamOptions">
                                Subtitle Stream #{{option.subtitleStream.index}} {{option.subtitleStream.language}}:
                                {{option.subtitleStream.type}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Subtitles (.srt or .vtt)</label>
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile"
                        (change)="handleSubtitlesFileInput($event.target.files)">
                    <label class="custom-file-label"
                        for="customFile">{{subtitlesFile ? subtitlesFile.name : 'Choose file'}}</label>
                </div>
            </div>
        </div>
    </form>
    <div class="row" *ngIf="error">
        <div class="col">
            <div class="alert alert-danger">{{error}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()"
        [disabled]="validateLoading">Close</button>
    <button type="button" class="btn btn-success" (click)="validate()" [disabled]="!videoFile || validateLoading">
        <i class="fas fa-spinner fa-spin mr-2" *ngIf="validateLoading"></i>Validate
    </button>
</div>