<div id="site-wrapper">
  <header class="container-fluid">
    <div class="row my-3">
      <div id="title" class="col-sm-12">
        <h1 routerLink="/" routerLinkActive="active" class="text-center">
          Come Over !
        </h1>
      </div>
    </div>
  </header>
  <main role="main" class="container-fluid border">
    <div class="row">
      <div class="col" id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <small class="mx-2">© 2019 Come Over all rights reserved</small>-<a class="mx-2" href="#"
          routerLink="faq">F.A.Q.</a>-<a class="mx-2" href="#" routerLink="donate">Donate</a>-<a class="mx-2"
          href="mailto:comeover.boss@gmail.com">Contact</a>
      </div>
    </div>
  </footer>
</div>