<div class="container mt-3">
    <h1 class="mb-3">Frequently Asked Questions</h1>
    <h2>How does it work ?</h2>
    <p><i>Come Over</i> allows you to share a video file as a stream to other people, and watch it together. On the
        homepage, you can create a new stream, and share the link to anyone. The creator of the stream then has
        full control, and can pause/seek a particular time in the video file: it will get synchronized with all the
        viewers !</p>
    <h2>Yes, but <b>How</b> does it work ?</h2>
    <p><i>Come Over</i> uses the <a href="http://webtorrent.io/">WebTorrent</a> library, which can transform any browser
        into a
        peer2peer client and
        server. Combined with live streaming, it is now possible to share streams to other people, without any
        third-party server.</p>
    <h2>Is it legal ?</h2>
    <p><i>Come Over</i> only provides tools for people to share video streams with each other. <i>Come over</i> is not
        hosting, nor transmitting any data, hence the users endorse the entire responsibility of the content they share.
    </p>
    <h2>Are there any limitations ?</h2>
    <p>Yes ! Since this is peer2peer streaming, sharing the content entirely depends on upload and download capacity of
        each peer, as well as the geographical distance between peers. Also, since browsers natively limit connections
        between peers, there might be a maximum amount of users that can access the room. There is no precise data on
        this, but it should be between 256 and 500 peers, on Google Chrome.</p>
    <div class="alert alert-info">
        If you have any question, remark, or request about this website, you can reach
        <a href="mailto:comeover.boss@gmail.com">comeover.boss@gmail.com</a>.
    </div>
    <div class="alert alert-info">
        Hosting a website is not free, and working on a it takes time. If you like the content, and would like to see it
        improved, please consider
        <a routerLink="/donate">donating</a>.
    </div>
</div>