/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Muli:300|Roboto:300|Ubuntu:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

$font-family-base: "Ubuntu", "Muli", "Roboto", sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "~plyr/dist/plyr.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  app-toasts-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    margin: auto auto;
    bottom: 10px;
    text-align: center;
  }
}
